.movie_detail_header {
    position: absolute;
    // display: block;
    width: 100%;
    img {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 100%;
    }
    .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}
.content {
    position: relative;
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 8%;

    .infor {
        display: flex;
        &__detail {
            width: 100%;
            margin-top: 8%;
            margin-left: 15px;
            h1 {
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }

    img {
        width: 300px;
        height: auto;
    }
}
