.movie__content {
}

.movie__content__horror {
    display: flex;
    justify-content: left;
    align-items: center;
}
.device {
    border: 1px solid wheat;
    width: 10%;
    height: 1px;
    margin-left: 10px;
    margin-top: 0.5%;
}
.movie__content_galary {
    // margin-top: 3rem;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    gap: 10px 20px;
    &__item {
        // margin: auto;
        // float: left;
        img {
            border-radius: 2rem;
            height: 300px;
            width: auto;
        }
        h1 {
            font-size: 12px;
        }
    }
}
